*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "'Inter', sans-serif";
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-size: 1rem;
  font-weight: inherit;
}

h2 {
  font-size: 4rem;
  font-family: "'Baskervville', sans-serif";
  text-transform: uppercase;
}

nav {
  font-family: "'Baskervville', sans-serif";
  font-size: 1.25rem;
  color: #5e4a49;
}

.hero {
  color: white;
}

.button {
  font-family: "'Baskervville', sans-serif";
  text-transform: capitalize;
}

main {
  padding-top: 9.25rem;
}
@media screen and (min-width: 1250px) {
  main {
    padding-top: 10.25rem;
  }
}

.button {
  padding-inline: 1.5rem;
  padding-block: 0.8rem;
  transform: translateY(0);
  transition: all 0.3s ease-out;
  border: 0.8px solid #5e4a49;
  box-shadow: 0 0.9px 0 #5e4a49;
}

.button:hover {
  transform: translateY(0.5px) scale(0.99);
  box-shadow: 0 0 0;
  opacity: 0.7;
  background-color: #b99692;
  color: #f8f6f4;
  border-color: #b99692;
}

.button-white {
  border: 0.8px solid #f8f6f4;
  box-shadow: 0 0.9px 0 #f8f6f4;
}

.button-white:hover {
  background-color: #f8f6f4;
  color: #191919;
  border-color: #f8f6f4;
}

.contact {
  position: fixed;
  bottom: 18%;
  right: 0;
  z-index: 100;
  display: grid;
}
.contact__links {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease-out;
}
.contact.is-open .contact__links {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.contact__link, .contact__button {
  padding: 0.5rem;
  opacity: 0.8;
}
.contact__link img, .contact__button img {
  width: 100%;
  filter: brightness(0) invert(1);
}
.contact__link--instagram {
  background-color: #c13ed4;
}
.contact__link--phone {
  background-color: #6aa2ba;
}
.contact__link--whatsapp {
  background-color: #25d366;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 9.25rem;
  background-color: #f8f6f4;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
}
.header__menu img {
  height: 17.57px;
}
.header__logo {
  margin-inline: 0.5rem;
}
.header__logo img {
  height: 100px;
  margin-inline: auto;
}
.header__social img {
  height: 31.875px;
}
.header__nav {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 180px minmax(0, 1fr);
  justify-content: space-between;
  align-items: center;
}
.header__nav--left {
  display: none;
}
.header__nav--right {
  display: flex;
  justify-content: flex-end;
}
.header__link {
  display: none;
}
@media screen and (min-width: 1250px) {
  .header {
    padding-inline: 0.5rem;
    padding-block: 2rem;
    height: 10.25rem;
  }
  .header__menu {
    display: none;
  }
  .header__nav {
    max-width: 1240px;
    margin-inline: auto;
  }
  .header__nav--left, .header__nav--right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    margin-inline: 2.5rem;
  }
  .header__link, .header__social {
    display: block;
    padding-inline: 30px;
    position: relative;
  }
  .header__link:not(:last-child)::after, .header__social:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 1.25rem;
    background: #e3b6b1;
    transform: translateY(-50%);
  }
  .header__social img {
    width: 1.5rem;
  }
  .header .is-active {
    text-decoration: underline;
  }
}

.hero {
  height: 635px;
  background-image: url(../../assets/images/hero-background.png);
  background-size: cover;
  background-position: 50%;
  padding-bottom: 5rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.hero__description {
  text-align: center;
  margin-top: 1rem;
}
.hero .button {
  margin-top: 1rem;
}

.contact__button {
  background-color: black;
  opacity: 0.8;
}

/*# sourceMappingURL=main.css.map */
