@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
  padding: $spacing-500 $spacing-200 $spacing-400;
  background-color: $color-bg-primary;
  color: $color-text-dark-brown;

  &__inner {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    text-align: center;
  }

  &__logo {
    display: inline-block;

    img {
      width: 126px;
      margin-inline: auto;
    }
  }

  &__description {
    margin-top: $spacing-100;
    font-size: $font-size-100;
    font-weight: $font-weight-light;
  }

  &__socials {
    @include flex-center;

    gap: $spacing-300;
    margin-top: $spacing-200;

    a {
      display: block;
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }

  &__nav {
    margin-top: $spacing-300;
    padding-block: $spacing-300;

    border-top: 1px solid rgba($color-text-dark-brown, 0.5);
    border-bottom: 1px solid rgba($color-text-dark-brown, 0.5);

    ul {
      display: grid;
      grid-template: repeat(4, 1fr) / repeat(2, 1fr);
      grid-auto-flow: column;
      column-gap: $spacing-300;
      row-gap: $spacing-100;

      text-align: left;
    }

    li {
      text-align: center;
    }

    a {
      display: inline-block;
      font-size: $font-size-400;
      color: $color-text-red-brown;
    }

    .is-active {
      text-decoration: underline;
    }
  }

  &__copyright {
    margin-top: $spacing-300;
    font-size: $font-size-100;
    color: $color-text-red-brown;
  }
}

@include media-query {
  .footer {
    padding: $spacing-700 $spacing-400 $spacing-400;

    &__nav {
      margin-top: $spacing-400;
      padding-block: $spacing-200;

      ul {
        padding-inline: $spacing-600;

        display: flex;
        justify-content: space-around;
        align-items: center;

        text-align: center;
      }

      a {
        font-size: $font-size-400;
      }
    }

    &__copyright {
      margin-top: $spacing-200;
    }
  }
}
