@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Common button
.button {
  padding-inline: $spacing-500;
  padding-block: $spacing-150;
  transform: translateY(0);
  transition: all 0.3s ease-out;

  border: 0.8px solid $color-text-red-brown;
  color: $color-text-red-brown;

  text-align: center;
}

.button:hover {
  transform: translateY(0.5px) scale(0.99);
  box-shadow: 0 0 0;
  opacity: 0.7;

  background-color: $color-text-dark-pink;
  color: $color-bg-primary;
  border-color: $color-text-dark-pink;
}

// Common button - white
.button-white {
  border: 0.8px solid $color-bg-primary;
  color: $color-bg-primary;
}
.button-white:hover {
  background-color: $color-bg-primary;
  color: $color-text-primary;
  border-color: $color-bg-primary;
}

// Floating contact button
.floating-contact {
  position: fixed;
  bottom: 18%;
  right: 0;
  z-index: 100;

  display: grid;

  &__links {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition: all 0.3s ease-out;
  }

  &.is-open {
    .floating-contact__links {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);

      display: grid;
      grid-template-rows: repeat(3, 1fr);
    }
  }

  &__link,
  &__button {
    padding: $spacing-100;
    opacity: 0.8;
    img {
      width: 100%;
      filter: brightness(0) invert(1);
    }
  }
  &__link {
    &--instagram {
      background-color: #c13ed4;
    }
    &--phone {
      background-color: #6aa2ba;
    }
    &--whatsapp {
      background-color: #25d366;
    }
  }
}
