@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
  background-color: $color-bg-primary;
}

main {
  padding-top: $header-height-mobile;

  @include media-query {
    padding-top: $header-height-desktop;
  }
}
