@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Body
body {
  font-family: $font-family-inter;
  line-height: $line-height-normal;
}

p {
  font-weight: $font-weight-light;
}

// Headings
h1,
h2,
h3,
h4 {
  font-size: 1rem;
  font-weight: inherit;
}

h1,
h2 {
  font-weight: inherit;
  font-size: $font-size-550;
  font-family: $font-family-baskerville;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  line-height: $line-height-tight;
  color: $color-text-red-brown;
}
h3 {
  font-size: $font-size-500;
  font-family: $font-family-baskerville;
  color: $color-text-red-brown;
  line-height: $line-height-snug;
}

// Navigation
nav {
  font-family: $font-family-baskerville;
  font-size: $font-size-400;
  color: $color-text-dark-brown;
}

// PC style
@include media-query {
  h1,
  h2 {
    font-size: $font-size-700;
    line-height: $line-height-snug;
  }
  h3 {
    font-size: $font-size-600;
  }
}
